/* General page styling */
body {
    background-color: #0d0d0d;
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

/* Header styling */
header {
    color: #ff7300;
    text-align: center;
    font-size: 41px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 17px;
}

/* Search bar styling */
.start {
    background-color: #1a1a1a;
    border: 2px solid #ff7300;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 18px;
    color: white;
    width: 450px;
    outline: none;
    transition: all 0.3s ease;
}

.start:focus {
    box-shadow: 0 0 15px #ff7300;
    border-color: #ff9c4b;
}

/* Button styling */
.go {
    background-color: #ff7300;
    border: none;
    border-radius: 15px;
    padding: 9px 18px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 17px;
}

button:hover {
    background-color: #ff7300;
    box-shadow: 0 0 15px #ff7300;
}

p1 {
    color: #e1e1e1d6;
    position: fixed; 
    bottom: 0;       
    left: 50%;       
    transform: translateX(-50%);
    text-align: center; 
    width: 100%;  
}
.set {
    background-color: #ff7300;
    border: none;
    border-radius: 11px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 17px;
    position: fixed; 
    top: -10px;   
    right: 2px; 
    z-index: 1000;
	gap: 8px;  
}
.home {
    background-color: #ff7300;
    border: none;
    border-radius: 11px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 17px;
    position: fixed; 
    top: -10px;   
    right: 542px; 
    z-index: 1000; 
}
hr {
    border-top: 3px solid #ffffff; 
    margin-top: -253px; 
  	padding: 0px 305px;
    border-width: 1px;
}
.img {
  float: left;
  margin-right: 4px;
}
.games {
    background-color: #ff7300;
    border: none;
    border-radius: 11px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 17px;
    position: fixed; 
    top: -10px;   
    right: 460px; 
    z-index: 1000; 
}
